* {
    padding: 0;
    margin: 0;
}

body {
	display: -webkit-flex;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* высота веб-страницы больше или равна высоте окна браузера */
    margin: 0;
}

#header {
	width: 50%;
	margin: 0 auto;
	margin-top: 5em;
}

#header_name {
	position: flex;
	width: 80%;
	min-height: 5%;
}

#time {
	text-align: right;
	float: right;
	width: 20%;
}

#main_content {
	margin: 0 auto;
	margin-top: 5em;
	width: 80%;
}

#wrapper {
	min-height: 100vh;
}

#main {
	position: flex;
	width: 80%;
	float: right;
	min-height 100vh;
}

#cpu_chart_div {
	width: 80%;
	height: 100vh;
	float: left;
}

#cpustatus {
	margin-top: 4vh;
}

#menu {
	position: flex;
	width: 20%;
}

aside > * {
	width: 15em;
}

#rate {
	width: 14em;
}

#main > #log {
	width: 20%;
	height: 50vh;
	overflow-y: scroll;
}

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2em;
	text-align: center;
}
